.main-header{
    width: 100%;
    height: 50px;

    background-color: gray;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.Lantai1{
    width: 100%;
    height: 150px;

    padding-top: 100px;

    color: rgb(8, 8, 8);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: medium;

    background-color: rosybrown;

}

.Gambar{
    width: 450px;
    height: 250px;
    background-color: green;

    margin-left: 20px;

    color: #DFA598;
    font-family: 'Roboto', sans-serif;

}

body{
    margin: 0px;
    padding: 0px;
}